/* src/components/LoginPage.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f2f9; /* Mild, calming blue background */
}

.login-box {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: left;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1e4db7;
  font-size: 24px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #1e4db7;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #163b96;
}

.readonly-input {
  background-color: #b6b1b1; /* Tailwind's gray-200 */
  cursor: not-allowed;
  color: #000000; /* Tailwind's gray-500 */
}
